.padre{
    background-color: rgb(248, 233, 171);
    width: 500px;
    height: 500px;
    display: flex;
   /* justify-content: center; /*aliniar horizontal*/
   /* align-items: center; /*aliniar vertical*/
    
}
/*ejercicio 1 se ponen las cajas seguidas una de otra y en una sola línea*/
/*.hijo{
    background-color: darkseagreen;
    border: 2px solid rgb(197, 19, 19);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
   }*/
 /*ejercicio 2 se ponen tres cajas en linea y con espacio entre ellas 
 con justify-content:space-between*/
 /*.hijo{
    background-color: darkseagreen;
    border: 2px solid rgb(197, 19, 19);
    width: 70px;
    height: 150px;
   }*/
   /*ejercicio 3 poner una sola caja en el medio con align-items:center y 
   justify-content: center;*/
/*.hijo{
    background-color: darkseagreen;
    border: 2px solid rgb(197, 19, 19);
    width: 100px;
    height: 100px;
   }*/
 /*ejercicio 4 dos cajas a la izquierda y una a la derecha dentro del contenedor*/
   .hijo{
    background-color: darkseagreen;
    border: 2px solid rgb(197, 19, 19);
    width: 100px;
    height: 100px;
   }
   .hijo2{
     background-color: darkseagreen;
    border: 2px solid rgb(197, 19, 19);
    width: 100px;
    height: 100px;
    margin-left: auto;/*con esto logramos separar una de las cajas y ponerla
    a la derecha*/
   }